deb [ arch=amd64,arm64,ppc64el,s390x ] http://repo.mongodb.com/apt/ubuntu {{codename}}/mongodb-enterprise/3.4 multiverse

deb http://repo.mongodb.com/apt/ubuntu {{codename}}/mongodb-enterprise/3.2 multiverse